<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-12">

                    <!-- Nav tabs -->
                    <div *ngIf="cargando_tabla ">
                        <app-loading1></app-loading1>
                    </div>



                    <div class="row animated fadeIn " *ngIf="!cargando_tabla ">

                        <div class="col-12 ">
                            <div class="card ">
                                <div class="card-body ">
                                    <div class="col-12 ">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xlg-12">
                                                <div class="card">
                                                    <div class="box bg-warning text-center">
                                                        <h2 class="font-light text-white">{{ gad.nombre }}</h2>
                                                        <h6 class="text-white">{{ gad.nombre_tipgad }}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row ">
                                            <div class="col-md-12 ">
                                                <div class="form-group row ">
                                                    <h2>Lista</h2>
                                                </div>
                                                <div class="form-group row ">
                                                    <input type="text " class="form-control col-md-9" placeholder="Buscar.... " name="search " [(ngModel)]="filter" DirectivaMayusculas>
                                                    <div class="col-md-3">
                                                        <button type="button" class="btn btn-info col-md-10" [routerLink]="['/plan',0,gad.pk_gad]">
                                          <i class="fa fa-plus"></i> Nuevo
                                          </button>
                                                    </div>
                                                </div>


                                                <div class="form-group row ">

                                                    <div class="table-responsive pointer col-md-12 ">
                                                        <table class="table color-bordered-table info-bordered-table ">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col" width="30%"><small><strong>Programa</strong></small></th>
                                                                    <th scope="col" width="30%"><small><strong>Proyecto</strong></small></th>
                                                                    <th scope="col"><small><strong>Año Base </strong></small></th>
                                                                    <th scope="col"><small><strong>Año Meta </strong></small></th>
                                                                    <th scope="col"><small><strong>Estado </strong></small></th>
                                                                    <th scope="col"><small><strong>Acción</strong></small></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let plan of listaPlanes | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i=index ">
                                                                    <td scope="row" data-label="Programa"><small>{{plan.programa_plan}}</small></td>
                                                                    <td data-label="Proyecto"><small>{{plan.proyecto_plan}}</small></td>
                                                                    <td data-label="Año Base">{{plan.anio_base_plan}}</td>
                                                                    <td data-label="Año Meta">{{plan.anio_meta_plan}}</td>
                                                                    <td [ngStyle]="{'background-color': plan.activo_plan === false ? 'red' : 'green' }" data-label="Estado">
                                                                        <label style="color: white" *ngIf="plan.activo_plan === true" class="control-label"><b>EN PROCESO</b></label>
                                                                        <label style="color: white" *ngIf="plan.activo_plan === false" class="control-label"><b>FINALIZADO</b></label>

                                                                    </td>
                                                                    <td data-label="Acción">
                                                                        <div class="btn-group">
                                                                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="fa fa-file-o"></i>
                                                                            </button>
                                                                            <div class="dropdown-menu">
                                                                                <a class="dropdown-item pointer" *ngIf="plan.activo_plan" [routerLink]="['/plan',plan.pk_plan,gad.pk_gad]">Editar</a>
                                                                                <a class="dropdown-item pointer" *ngIf="!plan.activo_plan" [routerLink]="['/plan',plan.pk_plan,gad.pk_gad]">Ver</a>
                                                                                <a class="dropdown-item pointer" (click)="open(modal);getReport(plan);">Reporte</a>
                                                                                <a class="dropdown-item pointer" *ngIf="plan.activo_plan" (click)="inactivarPlan(plan)">Finalizar</a>

                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                            <tfoot></tfoot>
                                                        </table>

                                                        <br>

                                                        <div class="col-12 ">
                                                            <pagination-controls class="pagination" (pageChange)="p=$event " autoHide="true" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #modal let-c="close" let-d="dismiss">

    <div class="modal-body">

        <!-- Nav tabs -->
        <app-loading2></app-loading2>

    </div>

</ng-template>