<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-12">

                    <!-- Nav tabs -->
                    <div *ngIf="cargando_tabla ">
                        <app-loading1></app-loading1>
                    </div>



                    <div class="row animated fadeIn " *ngIf="!cargando_tabla ">
                        <div class="col-12 ">
                            <div class="card ">
                                <div class="card-body ">
                                    <div class="col-12 ">
                                        <div class="row ">
                                            <div class="col-md-12 ">

                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control col-md-12" placeholder="Buscar...." name="search" [(ngModel)]="filter" DirectivaMayusculas>
                                                            <span class="input-group-btn pointer">
                                                        <button type="button" class="btn btn-info" (click)="open(modal,'{}')">
                                                            <i class="fa fa-plus"></i>   Nuevo
                                                        </button>
                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>


                                                <div class="form-group row ">
                                                    <div class="table-responsive pointer col-md-12 ">
                                                        <table class="table color-bordered-table primary-bordered-table ">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">#</th>
                                                                    <th scope="col">Nombre</th>
                                                                    <th scope="col">Acción</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let tipoGad of listaTipoGad | filter:filter | paginate: { itemsPerPage: 30, currentPage: p }; let i=i ndex ">
                                                                    <td scope="row" data-label="#">{{tipoGad.pk_tipgad}}</td>
                                                                    <td scope="row" data-label="Nombre">{{tipoGad.nombre_tipgad}}</td>
                                                                    <td data-label="Acción">
                                                                        <div class="btn-group">
                                                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                          <i class="fa fa-file-o"></i>
                                                          </button>
                                                                            <div class="dropdown-menu">
                                                                                <a class="dropdown-item" (click)="open(modal,tipoGad)">Editar</a>
                                                                                <a class="dropdown-item" (click)="eliminar(tipoGad)">Eliminar</a>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                            <tfoot></tfoot>
                                                        </table>

                                                        <br>

                                                        <div class="col-12 ">
                                                            <pagination-controls class="pagination" (pageChange)="p=$event "></pagination-controls>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modal let-c="close" let-d="dismiss">

    <form #formulario="ngForm" ngNativeValidate (ngSubmit)="guardar()">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Registro Tipo GAD</h4>

        </div>
        <div class="modal-body">

            <!-- Nav tabs -->
            <div *ngIf="cargando_modal ">
                <app-loading2></app-loading2>
            </div>

            <div class="row" *ngIf="!cargando_modal ">
                <div class="col-lg-12 col-md-12">
                    <div class="card">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><b>* Nombre</b></label>
                                    <input type="text" class="form-control" [(ngModel)]="tipoGADTarget.nombre_tipgad" name="nombre_tipgad" required DirectivaMayusculas>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="c('Save click')">Cancelar</button>
            <button type="submit" class="btn btn-success" [disabled]="formulario.invalid">Guardar</button>
        </div>
    </form>
</ng-template>