<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-12 text-center">
                    <h3 class="box-title">Sistema de Gestión de Proyectos</h3>
                    <hr class="m-t-0 m-b-40">
                    <p>
                        Bienvenido Usuario: {{ userLogin.usuario.nombres_person }} {{ userLogin.usuario.apellidos_person }}
                    </p>
                    <img src="assets/images/logo_gad_latacunga.png" alt="homepage" />
                </div>
            </div>
        </div>
    </div>
</div>